<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Mapper.UsrsHasActivity1Mapper" >
  <resultMap id="BaseResultMap" type="com.Pojo.UsrsHasActivity1Key" >
    <id column="UsrEmail" property="usremail" jdbcType="VARCHAR" />
    <id column="ActivityId" property="activityid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UsrEmail, ActivityId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.Pojo.UsrsHasActivity1Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Usrs_has_Activity1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.Pojo.UsrsHasActivity1Key" >
    delete from Usrs_has_Activity1
    where UsrEmail = #{usremail,jdbcType=VARCHAR}
      and ActivityId = #{activityid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.Pojo.UsrsHasActivity1Example" >
    delete from Usrs_has_Activity1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.Pojo.UsrsHasActivity1Key" >
    insert into Usrs_has_Activity1 (UsrEmail, ActivityId)
    values (#{usremail,jdbcType=VARCHAR}, #{activityid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.Pojo.UsrsHasActivity1Key" >
    insert into Usrs_has_Activity1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usremail != null" >
        UsrEmail,
      </if>
      <if test="activityid != null" >
        ActivityId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usremail != null" >
        #{usremail,jdbcType=VARCHAR},
      </if>
      <if test="activityid != null" >
        #{activityid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.Pojo.UsrsHasActivity1Example" resultType="java.lang.Integer" >
    select count(*) from Usrs_has_Activity1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Usrs_has_Activity1
    <set >
      <if test="record.usremail != null" >
        UsrEmail = #{record.usremail,jdbcType=VARCHAR},
      </if>
      <if test="record.activityid != null" >
        ActivityId = #{record.activityid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Usrs_has_Activity1
    set UsrEmail = #{record.usremail,jdbcType=VARCHAR},
      ActivityId = #{record.activityid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>